* {
    margin:0;
    font-family: Arial;
    border: border-box;
}
body {
    background-color: #E3E6E6;
}

.navbar {
    height: 60vh;
    background-color:#131921;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
    
    
}

.nav-logo {
    height:50px;
    width: 170px;
    
}

.logo {
    background-image: url(amazon.png);
    height: 50px;
    width: 100%;
    background-size: cover;
    background-repeat: transparent;
    background-position: center;
    
    
}

.border {
    border: 1.5px solid transparent;
    
}




.border:hover {
    border: 1.5px solid rgb(255, 255, 255);
    
}

.address-frist{
    margin-left: 33px;
    margin-bottom: 10px;
    color: #cccccc;
    font-size: 0.8rem;
}

.address-2nd{
    font-size: 1rem;
    
    margin-left:3px ;
    
    
}

.add-icon{
    display: flex;
    align-items: center;
    margin-top: -10px;
    margin-left: 10px;
    
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 183, 115);
    border-radius: 4px;
    height: 40px;
    width: 620px;
    
}

.nav-search:hover {
    border: 2px solid orange;
}

.search-select {
    background-color: #f3f3f3;
    height: 40px;
    width: 50px;
    text-align: center;   
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;


}

.search-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    padding-left: 10px;
    border: none;
    
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(255, 146, 3);
    color: rgb(59, 59, 59);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

}

/** box 4 **/
span {
    font-size: 0.8rem;
}

.nav-second {
    font-weight: 700;
}


.nav-cart i {
    font-size: 30px;

}

.nav-cart {
    font-size: 0.8rem;
    font-weight: 700;
}

/** panel */
.panel {
    height: 40px;
    background-color: #232F3E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    
    
}

.panel-ops p { 
    display: inline;
    margin-left: 15px;

    
    
}

.panel-ops {
    width: 90%;
    font-size: 0.85rem;
}

.hero-section {
    
    height: 350px;
    background-image: url(gaming.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    
    
    
}

.hero-massage {
    background-color: #ffffff;
    text-align: center;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .82rem;
    width: 80%;
    margin-bottom: 20px;
    
    
}

.hero-massage a {
    text-decoration: none;
    color: #007185;
    font-weight: 700;
}
/**shop-section**/
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #E3E6E6;
    
    
    
}


.box {
    height: 400px;
    width: 19%;
    border: 2px solid black;
    padding: 20px 0px 15px;
    background-color: white;
    margin-top: 15px;
}


.box-image {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}


.box-content p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    font-weight: 400px;
    color: #3872AB;
}

/** footer **/
.foot-panel {
    background-color: #131921;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .85rem;
    
}

.foot-panel2 p {
    margin-bottom: 7px;
    font-weight: 700;
    margin-top: 30px;
}

.foot-panel2 {
    background-color: #232F3E;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    
    font-size: .85rem;
    
}

ul a {
    display: block;
    margin-top: 10px;
    font: 0.85rem;
    color: rgb(150, 134, 134);
}

.foot-panel3 {
    background-color: #232F3E;
    height: 70px;
    border-top: 0.5px solid rgb(255, 254, 254);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}


.foot-panel4 {
    height: 100px;
    background-color: #131921;
    color: rgb(253, 252, 252);
    

}

.pages {
    padding-top: 25px;
    font-size: 0.75rem;
    text-align: center;
}

.pages a {
    color: rgb(189, 185, 185);
    margin: 0px 8px;
    text-decoration: none;
    justify-content: space-around;
}

.copyright {
    background-color: #131921;
    color: white;
    height: 40px;
    padding-top: 5px;
    text-align: center;
    font-size: .75rem;
    make this responsive
